body{
    background:linear-gradient(to right,pink,red);
    align-items: center;
}
header{
    text-align: center;
}
.div1 {
    display: inline-block;
    background-color: rgb(22, 224, 224);
    width:500px;
    border:2px solid white;
    box-shadow:2px 2px 15px grey;
    margin:10px;
    line-height:50px;
    text-align:center;
}
.div2 {
    display: inline-block;
    background-color: rgb(4, 159, 159);
    width:500px;
    border:2px solid white;
    box-shadow:2px 2px 15px grey;
    margin:10px;
    line-height:50px;
    text-align:center;
}
button{
    border-radius: 10px;
    background-color: blue;
    color:azure;
    padding: 5px;
}

