 *{
  margin: 0;
  padding:0;
  box-sizing: border-box;
 }
 
 body {
   font-family: "Andika", sans-serif;
   font-weight: 400;
   font-style: normal;
   scroll-behavior: smooth;

 }

 .head1 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding:20px;
 }

 .head1 a {
   text-decoration: none;
   color: black;

 }

 .head1 .item1 h1 {
   color: green;
   line-height: 50px;

 }

 .head1 .item1 {
   line-height: 4px;
 }

 .head1 .item3 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 20px;

 }

 form {
   display: flex;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
   border-radius: 25px;
   overflow: hidden;

 }

 input[type="text"] {
   border: none;
   padding: 10px 15px;
   width: 450px;
   outline: none;
   font-size: 16px;
 }

 button {
   background-color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 button i {
   margin-left: 5px;
 }

 .navbar {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 10px;
 }

 .navbar a,
 details summary {
   color: black;
   padding: 14px 20px;
   text-decoration: none;
   cursor: pointer;
   list-style: none;
 }


 details {
   position: relative;
 }

 details[open] summary::after {
   content: " ▲";
 }

 summary::after {
   content: " ▼";
   float: right;
 }

 details ul {
   position: absolute;
   background-color: #f9f9f9;
   margin: 0;
   padding: 0;
   list-style: none;
   min-width: 260px;
   top: 100px;
   left: 0;
   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
   z-index: 1;
 }

 details ul li a {
   display: block;
   padding: 12px 16px;
   color: black;
   text-decoration: none;
 }

 details ul li a:hover {
   background-color: #ddd;
 }

 .first {
   background-color: yellow;
   width: 20%;
   height: 90px;
   font-size: 20px;
 }

 .second {
   display: flex;
   justify-content: space-around;
   background-color: green;
   width: 80%;
   height: 90px;
   font-size: 20px;
 }

 .hero {
   display: flex;

 }

 .home {
   position: relative;
 }

 .home1 {
   position: absolute;
   top: 420px;
   left: 900px;
 }

 .overlay {
   position: absolute;
   top: 170px;
   left: 300px;
   font-size: 45px;
   font-weight: bolder;
 }

 .category {
   text-align: center;
 }

 .category .container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 550px 550px;
   gap: 100px;
   padding: 100px;

 }
 .category .side{
 position:absolute;
 right:120px;
 }
 .side a {
  text-decoration: none;
  font-size: 20px;
 }

 .category .item {
   border: 2px solid black;
   border-radius: 10px;
   font-size: 20px;
   font-weight: bolder;
 }

 .category img {
   width: 100%;
   height: 400px;
   object-fit: cover;

 }

 .category img:hover {
   transform: scale(1.1);
 }
 .best h1{
  text-align: center;
  color:green;
  font-size: 40px;
 }

 .best .container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 90px;
   text-align: center;

 }

 .best .container .item {
   border: 2px solid black;
   line-height: 60px;
   font-weight: bolder;

 }
 .best a{
  background-color: yellow;
  font-weight: bolder;
  border-radius: 8px;
  text-decoration: none;
  color:black;
  padding:10px;
  width:100px;
 }
 .best img:hover{
  transform: scale(1.1);
 }

 .top h1{
  text-align: center;
  color:green;
  font-size: 40px;
 }

 .top .container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 90px;
   text-align: center;

 }

 .top .container .item {
   border: 2px solid black;
   line-height: 60px;
   font-weight: bolder;

 }
 .top a{
  background-color: yellow;
  font-weight: bolder;
  border-radius: 8px;
  text-decoration: none;
  color:black;
  padding:10px;
  width:100px;
 }
 .top img:hover{
  transform: scale(1.1);
 }
 .customer{
  background-color: green;
  color:white;
  padding:50px;
  margin-top: 50px;
 }
 .customer h1{
  font-size: 40px;
  font-weight: bold;
 }
 .customer .container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:40px;

 }
 .ship .container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:40px;
  padding:40px;
  font-size: 20px;
 }
  .ship .container2{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:50px;
  padding:40px;
 }
 footer{
  background-color: green;
  color:white;
 }
 footer .container{
  display:flex;
  justify-content:space-between;
  
  font-size: 20px;
  list-style: none;
  padding:30px;
  gap:40px;
}

footer h1{
  font-size: 25px;
}
footer a{
  text-decoration: none;
  color:white;

}

@media (max-width:700px){
  *{
  margin: 0;
  padding:0;
  box-sizing: border-box;
 }
 .head1 {
   display: flex;
   flex-direction:column;
   justify-content:center;
   align-items: center;
   padding:10px;
 }
 .head1 .item1 h1 {
   color: green;
   line-height: 80px;

 }
 .head1 .item1 {
   line-height: 10px;
 }

 .head1 .item3 {
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   gap: 20px;

 }
  input[type="text"] {
   border: none;
   padding: 10px 15px;
   width: 150px;
   outline: none;
   font-size: 16px;
   
 }
 .navbar {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding:10px;
 }
 .first {
  display:flex;
   background-color:yellow;
   width: 100%;
   height: 100%;
   font-size: 20px;
 }
  .second {
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   background-color:green;
   width: 100%;
   height: 100%;
   font-size: 20px;
 }
  .hero {
   display: flex;

 }
 .hero img{
  width:100%;
  height:100%;
 }
 .home {
   position: relative;
 }

 .home1 {
   position: absolute;
   top: 640px;
   left: 90px;
   z-index: 1;
 }


 .overlay {
   position: absolute;
   top: 600px;
   left: 20px;
   font-size: 20px;
   font-weight: bolder;
   z-index: 2;
 }
 .category .container {
   display: grid;
   grid-template-columns: 1fr ;
   grid-template-rows: 400px;
   gap: 50px;
   padding: 50px;

 }
 .category img {
   width: 100%;
   height: 280px;
   object-fit: cover;

 }
 .best .container {
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   gap: 50px;
   text-align: center;

 }
 .top .container {
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   text-align: center;

 }
 .customer{
  background-color: green;
  color:white;
  padding:10px;
  margin-top: 50px;
 }
 .customer h1{
  font-size: 20px;
  font-weight: bold;
 }
 .customer .container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:40px;

 }
 .ship .container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding:10px;
  font-size: 20px;
 }
  .ship .container2{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:20px;
  padding:10px;
 }
 footer{
  background-color: green;
  color:white;
 }
 footer .container{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  font-size: 10px;
  list-style: none;
  padding:10px;
  gap:20px;
}
}
@media (min-width:700px) and (max-width:1024px){
  *{
  margin: 0;
  padding:0;
  box-sizing: border-box;
 }
 .head1 {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding:10px;
 }
 .head1 .item1 h1 {
   color: green;
   line-height: 30px;

 }

 .head1 .item1 {
   line-height: 10px;
 }

 .head1 .item3 {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 30px;

 }
 input[type="text"] {
   border: none;
   padding: 10px 15px;
   width: 350px;
   outline: none;
   font-size: 16px;
 }

 button {
   background-color: white;
   border: none;
   padding: 10px 20px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .home {
   position: relative;
 }
 .home img{
  width:500px;

 }
 .home1 img{
  width:300px;

 }

 .home1 {
   position: absolute;
   top: 320px;
   left: 480px;
 }

 .overlay {
   position: absolute;
   top: 170px;
   left: 300px;
   font-size: 35px;
   font-weight: bolder;
 }
 .category .container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 250px 250px;
   gap: 100px;
   padding: 50px;

 }
 .category img {
   width: 100%;
   height: 200px;
   object-fit: cover;
}
.best .container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 400px ;
   gap: 40px;
   text-align: center;

 }

 .best .container .item {
   border: 2px solid black;
   line-height: 40px;
   font-weight: bolder;

 }
 .top h1{
  text-align: center;
  color:green;
  font-size: 20px;
 }

 .top .container {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 400px;
   gap: 40px;
   text-align: center;

 }
 .top .container .item {
   border: 2px solid black;
   line-height: 40px;
   font-weight: bolder;

 }

}



  