* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-image: url('');
    color: #333;
}

header {
    background: #222;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    height: 80vh;

}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

form input,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #0077ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

form button:hover {
    background: #005dc0;
}

.footer {
    background: grey;
    color: #fff;
    text-align: center;
    padding: 20px;

}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

@media (max-width:700px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }

    header {
        background: #222;
        color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer {
        background: grey;
        color: #fff;
        text-align: center;
        padding: 10px;
        font-size: 10px;

    }
}

@media (min-width:700px) and (max-width:1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
}